.App {
  text-align: center;
}

.App-header {
  height: 50px;
  padding: 8px;
  color: green;
}

.App-intro {
  font-size: large;
}

.margin{
      margin-top: 1.5%
    }

.width{
      margin-left: 15%;
      margin-right: 15%;

    }


.footer_fixed{
      text-align: center;
      font-size: 15px;

    }

.dotted {
       border: 3px dotted black;
       border-style: none none dotted;
       color: black;
       margin-bottom: 0%;
       margin-left:25%;
      margin-right: 25%;

       }

.table-responsive{
      height: 500px;
    }

.ml-1 {

      display: block;
      height:1.5px;
      margin: 1em 0;
      padding: 0;

      background:black;
      margin-left:25%;
      margin-right: 25%;

    }

.pri_1{
      background-color: red;
    }
    .pri_2{
      background-color: blue;
    }
    .pri_3{
      background-color: green;
    }

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
